{% extends "template.html" %}
{% block conteudo %}

    <main class="container_conta">
        <div class="container_box">

            <div class="dominios">
                <span>Dominios</span>
                <span>Emails</span>
            </div>

            {% for key in contacts %}

            <section class="dominios">
                <h2 class="dominio">{{ key }}</h2>
                <div class="contatos">

                    {% for value in contacts[key] %}
                    <p>{{ value }}</p>
                    {% endfor %}

                </div>
            </section>
            {% endfor %}

        </div>
        
    </main>

    <script>
        let click = document.querySelector('.cabecalho_nav__link___login');
        let list = document.querySelector('.cabecalho_dropdown__conteudo');
        click.addEventListener("click",()=>{
            list.classList.toggle('newlist');
        });
    </script>

    <footer></footer>
    
{% endblock %}