<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    {% if enable %}
        <header class="cabecalho">
            <div class="container">
                <h1 class="cabecalho_titulo">Contatos</h1>
                <nav class="cabecalho_nav">
<!--                    <a class="cabecalho_nav__link" href="#">Home</a>-->
                    <div class="cabecalho_dropdown">
                        <button class="cabecalho_nav__link___login" >
                            <img class="foto_perfil"  src="{{ url_for('static', filename='/images/avatar.png') }}" alt="foto de perfil">
                        </button>

                        <div class="cabecalho_dropdown__conteudo">
                            <h2 class="seunome">Usuário</h2>
                            <h3 class="seuemail">usuario@email.com</h3>
<!--                            <h3 class="logout"><a href="index.html">Sair</a></h3>-->
                            <h3 class="logout"><a href="{{ url_for('logout_goole') }}">Sair</a></h3>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

    {% else %}
        <header class="cabecalho">
            <div class="container">
                <h1 class="cabecalho_titulo">Contatos</h1>
                <nav class="cabecalho_nav">
                </nav>
            </div>
        </header>

    {% endif %}

    {% block conteudo %} {% endblock %}

    <footer class="my_footer">
        <span class="about_me">Who I'm</span>
        <div class="botoes">
            <button class="my_contact">
                <img class="icone_google" src="{{ url_for('static', filename='/images/icone_github.png') }}"  alt="ícone do google">
                <p class="login_google" ><a href="https://github.com/renanssilva">Check my GitHub</a></p>
            </button>
            <button class="my_contact">
                <img class="icone_google" src="{{ url_for('static', filename='/images/icone_linkedin.png') }}"  alt="ícone do google">
                <p class="login_google" ><a href="https://www.linkedin.com/in/renansoares-dev/">Check my linkedin</a></p>
            </button>
        </div>
    </footer>

</body>
</html>
